Package: com.spacexit.v4
Name: Space Xit V4 VIP
Depends: mobilesubstrate
Version: 4.0.0
Architecture: iphoneos-arm
Description: Menu VIP V4 Profissional.
Maintainer: Gomes (@eoo_gomes3)
Author: Space Xit

