Package: com.spacexit.v4.final.safe
Name: Space Xit V4 VIP
Depends: mobilesubstrate
Version: 4.0.0
Architecture: iphoneos-arm
Description: Painel FFH4X Anti-Crash Login e Full Bypass
Maintainer: Gomes (@eoo_gomes3)
Author: Space Xit

